---
import Layout from "../layouts/Layout.astro"
import ProductCard from "../components/ProductCard.astro"
---
<Layout>
    <div>
 <ProductCard title="Camisa Barca Especial" price={45} img="camisetabarcaespecial.png"/>
 <ProductCard title="Tacos Phanton" price={66} img="tacosphanton.png"/>
 <ProductCard title="Camisa Real Madrid Local" price={79} img="camisetamadrid.png"/>
 <ProductCard title="Guantes Copa" price={100} img="guantescopaadidas.png"/>
  </div>
 </Layout>
  
<style>
div {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(50px,1fr));
}
</style>

