---
import Layout from "../layouts/Layout.astro"
import ProductCard from "../components/ProductCard.astro"
---
<Layout>
    <div>
 <ProductCard title="Camisa Barca Especial" price={45} img="/camisetabarcaespecial.png"/>
 <ProductCard title="Tacos Phanton" price={66} img="/tacosphanton.png"/>
 <ProductCard title="Camisa Real Madrid Local" price={79} img="/camisetamadrid.png"/>
 <ProductCard title="Guantes Copa" price={100} img="/guantescopaadidas.png"/>
 <ProductCard title="Tacos nike vapor" price={140} img="/tacosnikevapor.png"/>
 <ProductCard title="Camisa local psg" price={199} img="/camisapsg.png"/>
 <ProductCard title="Balon Adidas mundial 2026" price={99} img="/balonadidasmundial.png"/>
 <ProductCard title="Jersey adidas arsenal 25-26" price={70} img="/jerseyarsenal2025-2026.png"/>
 </div>
 </Layout>
  
<style>
div {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
}
</style>

