<header>
    <nav>
     
        <img src="/nikepng.png" alt="logo de la pagina">


     <ul>
        <li> <a href="/">inicio</a></li>
        <li> <a href="/about-us">sobre nosotros</a></li>
        <li><a href="/shop">tienda</a></li>
        <li><a href="/collections">colecciones</a></li>
        <li><a href="/shipping">envios</a></li>
     </ul>

     
      
      
    </nav>
  </header>

  <style>
   img {
      width: 56px;
   }
nav { 
      display: flex;
      gap: 120px;
      justify-content: center;
      padding: 20px 60px;
      background-color: rgb(203, 203, 203);
   }
   ul {
      display: flex;
      gap: 60px;
      font-weight: 500;
   }
  </style>