<div>
<p>tienda deportiva</p>
<h1>panther sports</h1>
<button>
    catalogo
</button>
</div>

<style>
    button {
        background-color: rgb(77, 125, 32);
        color: white;
        padding: 7px 20px;
        border-radius: 7px;
        border: solid 2px rgb(252, 252, 252);
    }
</style>
<style>
 body {
    /* Define el color de fondo para toda la página */
    background-color: #000000;
    
    /* Opcional: Esto asegura que el texto principal sea visible */
    color: #ffffff; 
}

/* Opcional: Si quieres que tus botones o elementos clave resalten */
.btn-primary {
    background-color: #ff0000; /* Rojo vibrante */
    color: #ffffff;
}   
</style>
