<div>
<p>tienda deportiva</p>
<h1>panther sports</h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi consequatur tenetur nostrum commodi deserunt quo nesciunt nemo, obcaecati quas ab accusamus officiis molestiae! Iste facilis quod enim, minus praesentium ipsum?</p>
</div>