<div>
<p>tienda deportiva</p>
<h1>panther sports</h1>
<button>
    catalogo
</button>
</div>

<style>
    button {
        background-color: rgb(77, 125, 32);
        color: white;
        padding: 7px 20px;
        border-radius: 7px;
        border: solid 2px rgb(0, 0, 0);
    }
</style>